.picker {
	font-size: 29px;
	display: flex;
	overflow: scroll;
}

.picker-col {
	margin:0;
	padding: 0;
	width: 2em;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.picker-header {
	margin:0;
	padding: 2px;
	background-color: red;
	font-size: 0.5em;
	border-bottom: solid black 1px;
	border-right: solid black 1px;
}

.picker-box {
	margin:0;
	padding: 0;
	width: 100%;
	height: 0.8em;
	border-bottom: solid black 1px;
	border-right: solid black 1px;
}

.picker-active {
	background-color: green;
}
